.main-div{
    overflow: hidden;
}
.card-div{
    background: none;
}
.card-div img{
    background: none;
    transform: scale(0.95);
    transition: 0.5s;
}

.card-div:hover img{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}