<nav class="navbar bg-dark navbar-expand-lg border-bottom border-1 border-white px-5" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand border border-2 rounded p-2" routerLink="inicio">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @for (ele of elementos; track ele){
          <li class="nav-item border rounded px-1 mx-1">
            <a class="nav-link" routerLinkActive="active" [routerLink]="ele.ruta">{{ele.texto}}</a>
          </li>
        }
        </ul>
      </div>
    </div>
  </nav>
