@defer (when apiData) {
<div class="container-fluid bg-dark p-5">
  <div class="row justify-content-center px-5">
    @for (weapon of apiData; track weapon.id) {
    <div
      class="col-10 col-md-4 col-lg-2 border border-white rounded-3 m-3 text-bg-dark main-div"
    >
      <img
        [src]="weapon.assets?.image"
        class="img-fluid border-bottom m-2"
        alt="Icono de {{ weapon.name }}"
        [routerLink]="'/mhw/' + weapon.id"
      />
      <h4 class="p-1">{{ weapon.name }}</h4>
    </div>
    }
  </div>
</div>
}@placeholder (minimum 500ms) {
  <h2 class="text-center text-primary">Loading ...</h2>
  
  }
  
