@defer (when apiData) {
<div
  class="container-fluid p-5"
  [ngStyle]="
    hoverActive
      ? {
          background:
            'linear-gradient(rgba(33, 37, 41,0.5), rgba(33, 37, 41,0.5)), url(' +
            backgroundLink +
            ')'
        }
      : {}
  "
  id="main-div"
>
  <div class="row justify-content-center px-5">
    @for (agent of apiData; track $index) {
    <div class="col-12 col-md-4 col-l-3 col-xxl-2 p-3 text-center">
      <img
        [src]="agent.displayIcon"
        class="img-fluid rounded-circle p-2 border border-danger border-3"
        alt="Icono de {{ agent.displayName }}"
        (mouseover)="hoverActive = true; backgroundLink = agent.fullPortrait"
        (mouseleave)="hoverActive = false"
      />
    </div>
    }
  </div>
</div>
} @placeholder (minimum 500ms){
<h2 class="text-center text-bg-dark bg-dark py-5">Loading...</h2>
}
